{%include 'django_registration/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<body style=" background-image: url('https://cdn.pixabay.com/photo/2016/04/25/23/30/home-1353389__340.jpg');
background-size: cover;
background-repeat:  no-repeat;
font-family: 'Comic Sans MS', cursive, sans-serif;">
    <div class="container text-center">
        <div class="row mt-5 pt-5">
            <div class="col-md-12">
                <h2 class="home-title text-white font-weight-bold">Here your will discover your Neighborhood</h2>
                <h3 class="home-subtitle text-white pt-3">Neighbourhood is the best way to stay informed about what’s going on in your
                    neighborhood—whether it’s finding a last-minute babysitter, planning a local event, or sharing safety
                    tips. There are so many ways that our neighbors can help us, we just need an easier way to connect with them.
                </h3>
                <form>
                    <div class="row">
                        <div class="col-md-12 pt-2">
                            <a class="btn btn-sm btn-success home-button" href="{% url 'neighbourhood' %}">Find Your Neighbourhood</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}